{% extends "base.html" %}
{% block content %}
    <style>
        .gallery-user-heading{
            text-transform: uppercase;
            font-weight: 600;
        }
    .uniform-image {
        /* height: 200px; */
        /* width: 100%; */
        object-position: center;
        object-fit: contain; /* This ensures the image covers the area without stretching */
    }

    .card-title, .card-text {
        max-height: 3.2em; /* Adjust based on your font size */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .real-image-gallery-box{
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-12 pt-5">
                <h2 class="text-center mb-4 gallery-user-heading">{{ username }}'s Gallery</h2>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <h4 class=" mb-4">Stencil Gallery</h4>
            </div>
        </div>
        <div class="row">
            {% for key, item in stencil_data.items %}
                <div class="col-md-3 col-sm-4 col-6">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ item.src }}"
                             class="card-img-top uniform-image"
                             alt="{{ item.alt }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.item_name }}</h5>
                            <p class="card-text">{{ item.alt }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h4 class=" my-4">Image Gallery</h4>
            </div>
        </div>
        <div class="row">
            {% for category, images in image_data.items %}
                {% for image in images %}
                    <div class="col-md-3 col-sm-4 col-6">
                        <div class="card mb-4 shadow-sm">
                            <div class="real-image-gallery-box">
                                <img src="{{ image.regular }}"
                                class="card-img-top uniform-image"
                                alt="{{ image.alt_description }}">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">{{ category }}</h6>
                                <small class="card-text">{{ image.description }}</small>
                                <p class="card-text">
                                    <small class="text-muted">By {{ image.username }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="py-5">
            <span>This was created using airsketch! Try it out <a href="{% url "index" %}">here</a></span>
        </div>
    </div>
{% endblock content %}
