{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        #video {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    </style>
</head>
<body>
     <h1>Welcome to the Playground</h1>
    <p>Your UUID is: {{ uuid }}</p>
  
    <h1>Hand Tracking and Doodling</h1>
   
    <video id="video" width="640" height="480" autoplay></video>
    <canvas id="canvas" class="border"></canvas>
    <button type="button" id="toggleButton">Toggle</button>
 <!-- Include the Handtrack.js library -->
 <script  src="{% static 'js/handtrack.js' %}"></script>
 <script defer>
    const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        let isTracking = false;
        let cameraOn = false;
        let model;

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
                video.addEventListener('loadeddata', () => {
                    if (!model) {
                        handTrack.load().then(m => {
                            model = m;
                            if (isTracking) {
                                startTracking();
                            }
                        });
                    }
                });
                video.play();
            })
            .catch(err => console.error('Error accessing webcam: ', err));

        function startTracking() {
            model.detect(video).then(predictions => {
                console.log('Predictions: ', predictions);
                // Add code here to draw doodles based on predictions
                if (isTracking) {
                    requestAnimationFrame(startTracking);
                }
            });
        }

        // Function to toggle camera on and off
        const toggleButton = document.getElementById('toggleButton');
        toggleButton.addEventListener('click', () => {
            if (isTracking) {
                isTracking = false;
                toggleButton.textContent = 'Start Camera';
            } else {
                isTracking = true;
                startTracking();
                toggleButton.textContent = 'Stop Camera';
            }
        });
</script>

    
   
</body>
</html>
